<div id="<%= dom_id book_return %>">
  <p>
    <strong>Book borrowed:</strong>
    <%= book_return.book_borrowed_id %>
  </p>

  <p>
    <strong>Book:</strong>
    <%= book_return.book_id %>
  </p>

</div>
